---
import "../styles/global.css";

import BaseHeader from "../components/BaseHeader.astro";
import Footer from "../components/Footer.astro";

const { title = "Piero — Portafolio", description = "Portafolio de Piero" } =
  Astro.props;
---

<!doctype html>
<html lang="es" class="antialiased">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="author" content="Piero" />
    <meta name="description" content={description} />
    <meta
      name="keywords"
      content="HTML, CSS, JavaScript, Tailwind, Astro, portafolio"
    />
    <title>{title}</title>

    <!-- meta social / Open Graph (ejemplo básico) -->
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content="/images/logito.jpg" />
  </head>
  <body class="bg-white text-slate-900 dark:bg-slate-900 dark:text-slate-100">
    <BaseHeader />
    <main class="pt-20">
      <slot />
    </main>
    <Footer />
        <script src="../scripts/ui/scroll-top.js"></script>
  </body>
</html>
